@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

#root {
  max-width: 1220px;
  margin: 0 auto;
  width: 90%;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

body {
  font-family: "Space Mono", monospace;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.233);
  position: sticky;
  top: 0;
  background: white;
  z-index: 100;

  /* Glassmorphism stuff */
  /* From https://css.glass */
  /* background: rgba(255, 255, 255, 0);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.1px);
-webkit-backdrop-filter: blur(4.1px);
border: 1px solid rgba(255, 255, 255, 0.26); */
}
header h2 a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
  font-weight: 700;
}

header nav ul {
  display: flex;
  align-items: center;
}

header nav ul li {
  list-style: none;
  margin-left: 1.5rem;
}

header nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

header nav ul li a:hover {
  opacity: 0.8;
  text-decoration: underline;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__container {
  margin-top: 2rem;
  display: grid;
  /* grid-template-columns: 1fr 1fr ; */
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 2rem;
}

.about__container .about__image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__container .about__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.about__container .about__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
}

.about__container .about__content h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  padding: 0.5rem 0;
  border-bottom: 3px solid black;
}
.resume{
  width: 100%;
  background-color: white !important;
  color: black !important;
  border: 2px solid black !important;
}
.about__container .about__content p {
  font-size: 1.2rem;
  line-height: 1.5;
  flex-grow: 1;
}

.about__content button {
  margin-top: 1rem;
  padding: 0.8rem 1rem;
  font-size: 1.5rem;
  border: none;
  background: black;
  color: white;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}

.about__content button:hover {
  opacity: 0.8;
}

.about__content button span {
  margin-left: 0.8rem;
}

.project__container {
  margin-top: 2rem;
}

.project__container h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  padding: 0.5rem 0;
  border-bottom: 3px solid black;
}

.project__container p {
  font-size: 1.2rem;
  line-height: 1.5;
}

.project__container p a {
  color: black;
}

.project__content {
  margin-top: 2em;
  display: grid;

  grid-gap: 2rem;
  /* grid-template-columns: 1fr 1fr; */
  /* change to min max */
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.project__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.233);
  transition: all 0.2s ease;
}

.project__card:hover {
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 1);
  transform: matrix(1, 0, 0, 1, -6, -6);
  transition: all 0.2s ease;
}


.project__image:hover {
  opacity: 1;
}

.project__description {
  flex-grow: 1;

}

.project__description h3 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.project__description p {
  font-size: 1.1rem;
  line-height: 1.5;
}

.project__languages {
  display: flex;
  align-items: flex-start;
  margin-top: 0.5rem;
}

.project__language {
  opacity: 0.8;
  margin-right: 0.8rem;
}

.project__links {
  display: flex;
  align-items: flex-start;
  margin: 1rem 0;
}

.github__link,
.live__link {
  font-size: 1.5rem;
  color: black;
  margin-right: 1rem;
}

.contact-form {
  margin: 4rem 0;
}

.contact-form h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  padding: 0.5rem 0;
  border-bottom: 3px solid black;
}

.contact-form p {
  font-size: 1.2rem;
  line-height: 1.5;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  align-self: self-start;
}

.contact-form form label {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

/* text area */

.contact-form form textarea {
  width: 100% !important;
  height: 15rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  border: 1px solid rgb(0, 0, 0);
  resize: none;
}

.contact-form form input {
  width: 100%;
  height: 50px;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  border: 1px solid rgb(0, 0, 0);
}

.contact-form form input:focus,
.contact-form form textarea:focus,
.contact-form form button:focus {
  outline: none;
}

/* fix width  with box-sizing*/

.contact-form form input,
.contact-form form textarea,
.contact-form form button {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
}

.contact-form form button {
  width: 100%;
  height: 50px;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: black;
  color: white;
  margin-bottom: 2rem;
}

.contact-form form button:hover {
  opacity: 0.8;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.233);
  min-height: 80px;
  font-size: 1.5rem;
}

footer p a {
  color: black;
}

footer ul {
  display: flex;
  align-items: center;
}

footer ul li {
  list-style: none;
  margin-left: 1rem;
}

footer ul li a {
  text-decoration: none;
  color: black;
}

.italic {
  font-style: italic;
}

.skills__container {
  margin: 4em 0;
}

.skills__container h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  padding: 0.5rem 0;
  border-bottom: 3px solid black;
}

.skills__container p {
  font-size: 1.2rem;
  line-height: 1.5;
}

.skills__intro {
  margin-bottom: 2em;
}

.skills__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1.5em;
}

.skill {
  height: 70px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
  border-radius: 5px;
}

.skill:hover {
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 1);
  transform: matrix(1, 0, 0, 1, -6, -6);
  transition: all 0.2s ease;
}

.skill p {
  margin-left: 0.8rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.message {
  margin-bottom: 1rem;
  transition: all 0.2s ease;
}

.success-message {
  color: green;
  font-size: 1.2rem;
}

.failure-message {
  color: red;
  font-size: 1.2rem;
}

.loading-indicator {
  color: blue;
  font-size: 1.2rem;
}

.articles__container {
  margin: 2rem 0;
}

.articles__container h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  padding: 0.5rem 0;
  border-bottom: 3px solid black;
}

.articles__container p {
  font-size: 1.2rem;
  line-height: 1.5;
}

.articles__container p a {
  color: black;
}

.articles__card {
  transition: all 0.2s ease;
  margin: 2rem 0;
}

.articles__card a {
  text-decoration: none;
  color: black;
  transition: all 0.2s ease;
}

.articles__card a:hover {
  text-decoration: underline;
}

.articles__card h3 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 768px) {
  .articles__card {
    margin: 1rem 0;
  }
  .about__container {
    margin: 0;
  }

  footer {
    flex-direction: column;
    align-items: center;
  }

  header {
    flex-direction: column;
  }
}
